<style>
  @font-face{font-family:Rubik;src:url(https://cdn.phaz.uk/fonts/rubik/Rubik-VariableFont_wght.ttf)}
</style>

<body style="background: #1f222b;font-family:Rubik,Segoe UI,Tahoma,Geneva,Verdana,sans-serif">
  <div style="text-align: center;">
    <h3 style="margin: 0; color: #888;">PhazeID</h3>
    <div style="width: 400px;padding: 10px;height: fit-content;background: #4072a0;border-radius: 5px;box-shadow: #000 0 0 10px;color: white;text-align: center;transition: 0.1s;margin: auto;margin-top: 50px;">
      <h2 style="color: #fff;margin: 0;">Hello, {{USERNAME}}</h2>
      <p style="color: #fff;margin: 0;">You've requested a password reset link</p><br />

      <a href="{{URL}}">
        <div style="color: #fff;text-decoration: none;padding: 10px 50px;display: inline-block;background: #285075;border-radius: 5px;cursor: pointer;user-select: none;box-shadow: #0000 0 0 10px;transition: 0.25s;">Reset Password</div>
      </a><br /><br />
  
      <p style="color: #fff;margin: 0;text-decoration: none;">This link expires in 15 minutes.</p>
      <p style="color: #fff;margin: 0;text-decoration: none;">If you did not perform this action, contact _phaz on discord or @phaz.uk on bluesky.</p>

      <br />
      <p style="color: #fff;margin: 0;text-decoration: none;">Why do we use phaz.uk for email? <a style="color: #00ccff;" href="https://id.phazed.xyz/email-info">id.phazed.xyz/email-info</a></p>
    </div><br /><br />
  
    <div style="color: #fff;margin: 20px 0;font-size: 10px;">If that doesn't work, try this link: <a href="{{URL}}">{{URL}}</a></div>

    <p style="margin: 0; color: #888;">Made with ❤️ by phaz</p>
  </div>
</body>
