<style>
  @font-face{font-family:Rubik;src:url(https://cdn.phaz.uk/fonts/rubik/Rubik-VariableFont_wght.ttf)}
</style>

<body style="background: #1f222b;font-family:Rubik,Segoe UI,Tahoma,Geneva,Verdana,sans-serif">
  <div style="text-align: center;">
    <h3 style="margin: 0; color: #888;">PhazeID</h3>
    <div style="width: 400px;padding: 10px;height: fit-content;background: #4072a0;border-radius: 5px;box-shadow: #000 0 0 10px;color: white;text-align: center;transition: 0.1s;margin: auto;margin-top: 50px;">
      <h2 style="color: #fff;margin: 0;">Welcome {{USERNAME}}</h2>
      <p style="color: #fff;margin: 0;">Here's your email verification code:</p>
  
      <div style="color: #fff;margin: 20px 0;font-size: 80px;">{{CODE}}</div>
  
      <p style="color: #fff;margin: 0;text-decoration: none;">Why do we use phaz.uk for email? <a href="https://id.phazed.xyz/email-info">id.phazed.xyz/email-info</a></p>
    </div><br /><br />
  
    <p style="margin: 0; color: #888;">Made with ❤️ by phaz</p>
  </div>
</body>
